<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  There is no contact information yet, but you can subscribe to us in git
  <a href="https://github.com/Andreaspy-eng">Andrew</a> and
    <a href="https://github.com/skrehin">Semyon</a>.

</p>